NVIDIA_NIM_API_KEY=
NVIDIA_NIM_MODEL=meta/llama-4-maverick-17b-128e-instruct
NVIDIA_NIM_PLANNER_MODEL=meta/llama-4-maverick-17b-128e-instruct
NVIDIA_NIM_WORKER_MODEL=meta/llama-4-maverick-17b-128e-instruct
NVIDIA_NIM_VERIFIER_MODEL=meta/llama-4-maverick-17b-128e-instruct
NVIDIA_NIM_PLANNER_TIMEOUT_MS=12000
NVIDIA_NIM_WORKER_TIMEOUT_MS=8000
NVIDIA_NIM_VERIFIER_TIMEOUT_MS=7000
PAYMENT_MODE=demo
NEXT_PUBLIC_PAYMENT_MODE=demo
ARC_TESTNET_RPC_URL=https://rpc.testnet.arc.network
ARC_TESTNET_CHAIN_ID=5042002
ARC_TREASURY_ADDRESS=0xA7C7000000000000000000000000000000000A7C
NEXT_PUBLIC_DEMO_TREASURY_NAME=ArcTask Treasury
